/* App.css */
.App {
  font-family: sans-serif;
  margin: 0px;
}
.App * {
  box-sizing: border-box;
}

form {
  max-width: 960px;
  margin: 0 auto;
}

input:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
  background: antiquewhite;
}

button.deleteBtn {
  background-color: #999;
  border: none;
  color: #fff;
  padding: 5px 15px;
  margin-left: auto;
}
button.updateBtn {
  background-color: #f15a24;
  border: none;
  color: #fff;
  padding: 5px 15px;
  margin-left: auto;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
li {
  display: flex;
  align-items: center;
  border-bottom: 1px dotted #ccc;
}
.date-text {
  display: block;
  font-size: 10px;
  color: #999;
}
.todo-item > div:hover {
  cursor: pointer;
}
.update-input {
  border: none;
  padding: 0 0;
}
.update-input:focus {
  border: none;
  background: none;
}

