/* UnityContent.css */
.home-logo{
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;     
}

@media (max-width: 480px) { /* スマホサイズ */
 .home-logo{
    width: 100%;
    height: 200px;
 }
}

.home-logo2{
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

@media (max-width: 480px) { /* スマホサイズ */
    .home-logo2{
       width: 100%;
       height: 130px;
       margin-top: 200px;
    }
   }

.button2 {
    margin-left: 100px;
    color: #24f180;
    background-color: #ffffff;
    border: 1px solid #24f17d;
}

@media (max-width: 480px) { /* スマホサイズ */
    .button2 {
        margin-left: 100px;
        color: #24f180;
        background-color: #ffffff;
        border: 1px solid #24f17d;
    }
   }

   button {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 300px;
    padding: 9px 25px;
    color: #f15a24;
    font-weight: bold;
    letter-spacing: 0.5pt;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #f15a24;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
  }